{% verbatim %}
<div class="row">
    <div ng-show="successMsg || errorMsg;" class="msgFix">
        <div ng-if="successMsg;" class="alert alert-success no-margin" role="alert">{{ successMsg }}</div>
        <div ng-if="errorMsg;" class="alert alert-danger no-margin" role="alert">{{ errorMsg }}</div>
    </div>

    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="col-md-2">匯率</label>

            <div class="col-md-10">
                <input ng-model="query.rate" type="text" name="filter" class="form-control" placeholder="匯率" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">開始</label>

            <div class="col-md-10">
                <input ng-model="query.month" type="text" class="form-control" placeholder="格式:xxxx-xx" >
            </div>           
        </div>

        <div class="form-group">
            <label class="col-md-2">&nbsp;</label>

            <div class="col-md-10">
                 <button ng-click="clean(); create(query);" class="btn btn-primary btn-sm pull-left" type="button">新增</button>
            </div>
        </div>
    </form>
    
    <p>&nbsp;</p>

    <table class="table table-hover">
        <tr>
            <td ng-click="orderProp='id'; reverse=!reverse;" class="pointer">id</td>
            <td>匯率</td>
            <td>時間</td>
            <td>動作</td>
        </tr>

        <tr ng-repeat="exchangeRate in exchangeRates | orderBy:orderProp:reverse" class="listing">
            <td>{{ exchangeRate.id }}</td>
            <td><input ng-model="exchangeRate.rate" type="text" class="input-sm no-border"></td>
            <td>
                <input ng-model="exchangeRate.month" type="text" class="form-control">
            </td>
            <td>
                <button ng-click="update(exchangeRate);" class="btn btn-primary btn-sm">儲存</button>
                <button ng-click="clean(); destroy(exchangeRate);" class="btn btn-danger btn-sm">刪除</button>
            </td>
        </tr>
    </table>
</div>
{% endverbatim %}