<div ng-controller="GoodsSearchCtrl">
	{% include 'WoojinGoodsBundle:GoodsPassport/partials/search:_condition.html.twig' %}
	{% include 'WoojinGoodsBundle:GoodsPassport/partials/search:_res.html.twig' %}
	{% include 'WoojinGoodsBundle:GoodsPassport/partials/modal:orders.html.twig' %}
</div>