<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8" />
  <title>Reebonz系統登入頁面</title>
  <link rel="stylesheet" href="/bundles/woojinbackend/css/bootstrap.yeti.min.css">
  <script src="/js/reebonz.js"></script>
</head>
<body>

<div class="modal" style="display: block !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reebonz密碼更改</h4>
      </div>
      <div class="modal-body">
        <form action="{{ path('password_edit', {id: user.id, csrf: user.csrf}) }}" role="form" method="post" >
          <div class="form-group">
            <label for="username">請輸入密碼</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="請輸入帳號" />
          </div>
          <div class="form-group">
            <label for="password">確認密碼</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="確認密碼" />

            <input type="hidden" name="csrf" value="{{ user.csrf }}">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary submit">確認</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
  $('button.submit').click(function () {
    if ($('#password').val().length < 7) {
        alert('密碼長度不夠，至少要七個字元!');

        return false;
    }

    if ($('#password').val() === $('#confirm-password').val()) {
        $('form').submit();
    } else {
        alert('兩次密碼輸入不同!');
    }
    
    return false;
  });
});
</script>
</body>
</html>