{% verbatim %}
<div class="panel-heading">
  <h2 class="panel-title pointer" ng-click="isSearchPanelVisible=!isSearchPanelVisible;" ng-class="{dropup: isSearchPanelVisible}"><span class="caret"></span>&nbsp; 條件產生輸入區</h2>
</div>

<div class="panel-body" ng-show="!isSearchPanelVisible">
	<div ng-show="queryDes;" class="queryDes">
		<button class="btn btn-default btn-sm pull-right" type="button" ng-click="reset();">還原</button>
		
		<button class="btn btn-success btn-sm pull-right" type="button" ng-click="query(); pageInit();">查詢</button>
		
		<button class="btn btn-primary btn-sm pull-right" type="button" ng-click="export(); pageInit();">匯出</button>
		
		<div ng-bind-html="queryDes" class="alert alert-info no-margin" role="alert">{{ queryDes }}</div>
	</div>

	<form novalidate class="form-horizontal" role="form">

		<div class="form-group">
			<label class="col-sm-2 control-label">進貨類型</label>

			<div class="col-sm-10">
				<div class="btn-group">
	        <label ng-change="setEqRepo('Gin_type', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gin_type" btn-radio='{"id": 0, name: "一般"}'>一般</label>
      		
      		<label ng-change="setEqRepo('Gin_type', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gin_type" btn-radio='{"id": 1, name: "寄賣"}'>寄賣</label>
      		
      		<label ng-change="setEqRepo('Gin_type', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gin_type" btn-radio=''>不限</label>
		    </div>
	    </div>
		</div>

		<div class="form-group">
	    <label class="col-sm-2 control-label">客戶email</label>
	    
	    <div class="col-sm-10">
	    	<div class="input-group">
	    		<input ng-model="goods.Cemail" type="text" class="form-control" />
					
					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              
              <span class="sr-only">&nbsp;</span>
            </button>
            
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Cemail', 'in');">是</a>
              </li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Cemail', 'notIn');">不是</a>
              </li>
              
              <li class="divider"></li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Cemail', 'like');">包含</a>
              </li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

		<div class="form-group">
			<label class="col-sm-2 control-label">是否在網站販售</label>

			<div class="col-sm-10">
				<div class="btn-group">
					<label ng-change="setEqRepo('Gis_web', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gis_web" btn-radio='{"id": 1, name: "是"}'>是</label>

	        <label ng-change="setEqRepo('Gis_web', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gis_web" btn-radio='{"id": 0, name: "否"}'>否</label>
      		
      		<label ng-change="setEqRepo('Gis_web', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gis_web" btn-radio=''>不限</label>
		    </div>
	    </div>
		</div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">品名</label>

	    <div class="col-sm-10">
	    	<div class="input-group">
	    		<input ng-model="goods.Gname" type="text" class="form-control" />
					
					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>

              <span class="sr-only">&nbsp;</span>
            </button>
            
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gname', 'in');">是</a>
              </li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gname', 'notIn');">不是</a>
              </li>
              
              <li class="divider"></li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gname', 'like');">包含</a>
              </li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">產編</label>

	    <div class="col-sm-10">
	    	<div class="input-group">
	    		<input ng-model="goods.Gsn" type="text" class="form-control" />
					
					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>

              <span class="sr-only">&nbsp;</span>
            </button>
            
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gsn', 'in');">是</a>
              </li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gsn', 'notIn');">不是</a>
              </li>
              
              <li class="divider"></li>
              
              <li>
              	<a class="pointer" ng-click="addInSearchRePo('Gsn', 'like');">包含</a>
              </li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">系統內部編號</label>
	    <div class="col-sm-10">
	    	<div class="input-group">
		      <input ng-model="goods.Gdpo" type="text" class="form-control" placeholder="dpo">

		      <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gdpo', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gdpo', 'in');">不是</a></li>
              <li class="divider"></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gdpo', 'like');">包含</a></li>
            </ul>
          </div>
        </div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">原廠型號</label>
	    <div class="col-sm-10">		      
	      <div class="input-group">
		      <input ng-model="goods.Gorg_sn" type="text" class="form-control" placeholder="SKU">

		      <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gorg_sn', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gorg_sn', 'in');">不是</a></li>
              <li class="divider"></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gorg_sn', 'like');">包含</a></li>
            </ul>
          </div>
        </div>
	    </div>
	  </div>

	  <!-- <div class="form-group">
	    <label class="col-sm-2 control-label">型號</label>
	    <div class="col-sm-10">
	    	<div class="input-group">
		      <input ng-model="goods.Gbrand_sn" type="text" class="form-control" placeholder="型號">

		      <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
            <span class="caret"></span>
            <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gbrand_sn', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gbrand_sn', 'in');">不是</a></li>
              <li class="divider"></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gbrand_sn', 'like');">包含</a></li>
            </ul>
	        </div>
      	</div>
	    </div>
	  </div> -->

	  <div class="form-group">
	    <label class="col-sm-2 control-label">備註</label>
	    <div class="col-sm-10">
	    	<div class="input-group">
		      <textarea ng-model="goods.Gmemo" type="text" class="form-control" placeholder="備註" />

	       	<div class="input-group-btn">
	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	            <span class="caret"></span>
	            <span class="sr-only">&nbsp;</span>
	          </button>
	          <ul class="dropdown-menu dropdown-menu-right" role="menu">
	            <li><a class="pointer" ng-click="addInSearchRePo('Gmemo', 'in');">是</a></li>
	            <li><a class="pointer" ng-click="addInSearchRePo('Gmemo', 'in');">不是</a></li>
	            <li class="divider"></li>
	            <li><a class="pointer" ng-click="addInSearchRePo('Gmemo', 'like');">包含</a></li>
	          </ul>
	        </div>
      	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">商品狀態</label>
	    <div class="col-sm-10">	    	
	    	<div class="input-group">					
					<select ng-model="goods.Gstatus" name="goodsStatus" class="form-control" ng-options="goodsStatus.name for goodsStatus in $parent.entity.goodsStatuss"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gstatus', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gstatus', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <!-- <div class="form-group">
	  	<label class="col-sm-2 control-label">進貨時間</label>

	  	<div class="col-sm-10">
      	<div class="input-group">
		      <input my-datepicker ng-model="goods.Gpurchase_at" type="text" class="form-control" placeholder="進貨時間" readonly />

		      <div class="input-group-btn">
	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	            <span class="caret"></span>
	            <span class="sr-only">&nbsp;</span>
	          </button>
	          <ul class="dropdown-menu dropdown-menu-right" role="menu">
	            <li><a class="pointer" ng-click="addInSearchRePo('Gpurchase_at', 'lte');">之前</a></li>
	            <li><a class="pointer" ng-click="addInSearchRePo('Gpurchase_at', 'gte');">之後</a></li>
	          </ul>
	        </div>
        </div>
	  	</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">過期時間</label>
	    <div class="col-sm-10">
	    	<div class="input-group">
		      <input my-datepicker ng-model="goods.Gexpirate_at" type="text" class="form-control" placeholder="過期時間" readonly />

		      <div class="input-group-btn">
    	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
    	            <span class="caret"></span>
    	            <span class="sr-only">&nbsp;</span>
    	          </button>
    	          <ul class="dropdown-menu dropdown-menu-right" role="menu">
    	            <li><a class="pointer" ng-click="addInSearchRePo('Gexpirate_at', 'lte');">之前</a></li>
    	            <li><a class="pointer" ng-click="addInSearchRePo('Gexpirate_at', 'gte');">之後</a></li>
    	          </ul>
	           </div>
            </div>
	    </div>
	  </div> -->

      <div class="form-group">
        <label class="col-sm-2 control-label">時間查詢</label>

        <div class="col-sm-4">
            <input my-datepicker ng-model="startAt" type="text" class="form-control" placeholder="開始" readonly>
        </div>  
        
        <div class="col-sm-4">
            <div class="input-group">
                <input my-datepicker ng-model="endAt" type="text" class="form-control" placeholder="結束" readonly>

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <span class="caret"></span>
                        <span class="sr-only">&nbsp;</span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="pointer" ng-click="addTimeCondition('Gcreate_at');">建立時間</a></li>
                        <li><a class="pointer" ng-click="addTimeCondition('Gpurchase_at');">進貨時間</a></li>
                        <li><a class="pointer" ng-click="addTimeCondition('Gupdate_at');">更新時間</a></li>
                        <li><a class="pointer" ng-click="addTimeCondition('Gexpirate_at');">過期時間</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>

	  <!-- <div class="form-group">
	  	<label class="col-sm-2 control-label">建立時間</label>

	  	<div class="col-sm-10">
      	<div class="input-group">
		      <input my-datepicker ng-model="goods.Gcreate_at" type="text" class="form-control" placeholder="建立時間" readonly />

		      <div class="input-group-btn">
	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	            <span class="caret"></span>
	            <span class="sr-only">&nbsp;</span>
	          </button>
	          <ul class="dropdown-menu dropdown-menu-right" role="menu">
	            <li><a class="pointer" ng-click="addInSearchRePo('Gcreate_at', 'lte');">之前</a></li>
	            <li><a class="pointer" ng-click="addInSearchRePo('Gcreate_at', 'gte');">之後</a></li>
	          </ul>
	        </div>
        </div>
	  	</div>
	  </div>

	  <div class="form-group">
	  	<label class="col-sm-2 control-label">更新時間</label>

	  	<div class="col-sm-10">
      	<div class="input-group">
		      <input my-datepicker ng-model="goods.Gupdate_at" type="text" class="form-control" placeholder="更新時間" readonly />

		      <div class="input-group-btn">
	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	            <span class="caret"></span>
	            <span class="sr-only">&nbsp;</span>
	          </button>
	          <ul class="dropdown-menu dropdown-menu-right" role="menu">
	            <li><a class="pointer" ng-click="addInSearchRePo('Gupdate_at', 'lte');">之前</a></li>
	            <li><a class="pointer" ng-click="addInSearchRePo('Gupdate_at', 'gte');">之後</a></li>
	          </ul>
	        </div>
        </div>
	  	</div>
	  </div> -->

	  <div class="form-group">
	    <label class="col-sm-2 control-label">是否允許折扣</label>
	    <div class="col-sm-10">
				<div class="btn-group">
					<label ng-change="setEqRepo('Gallow_discount', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gallow_discount" btn-radio='{"id": 1, name: "是"}'>是</label>
	        <label ng-change="setEqRepo('Gallow_discount', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gallow_discount" btn-radio='{"id": 0, name: "否"}'>否</label>
      		<label ng-change="setEqRepo('Gallow_discount', 'eq');" class="btn btn-primary btn-sm" ng-model="goods.Gallow_discount" btn-radio=''>不限</label>
		    </div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">品牌</label>
	    <div class="col-sm-10">

	    	<div class="input-group">
					
					<select ng-model="goods.Gbrand" name="brands" class="form-control" ng-options="brand.name for brand in $parent.entity.brands"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gbrand', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gbrand', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">款式</label>
	    <div class="col-sm-10">

	    	<div class="input-group">
					
					<select ng-model="goods.Gpattern" name="patterns" class="form-control" ng-options="pattern.name for pattern in $parent.entity.patterns"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gpattern', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gpattern', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <!-- <div class="form-group">
	    <label class="col-sm-2 control-label">來源</label>
	    <div class="col-sm-10">

	    	<div class="input-group">					
					<select ng-model="goods.Gsource" name="goodsSources" class="form-control" ng-options="goodsSource.name for goodsSource in $parent.entity.goodsSources"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gsource', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gsource', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div> -->

	  <div class="form-group">
	    <label class="col-sm-2 control-label">商品狀況</label>
	    <div class="col-sm-10">	    	
	    	<div class="input-group">					
					<select ng-model="goods.Glevel" name="goodsLevels" class="form-control" ng-options="goodsLevel.name for goodsLevel in $parent.entity.goodsLevels"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Glevel', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Glevel', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">顏色</label>
	    <div class="col-sm-10">
	    	<div class="input-group">					
					<select ng-model="goods.Gcolor" name="colors" class="form-control" ng-options="color.name for color in $parent.entity.colors"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gcolor', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gcolor', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">材質</label>
	    <div class="col-sm-10">
	    	
	    	<div class="input-group">					
				<select ng-model="goods.Gmt" name="goodsMTs" class="form-control" ng-options="mt.name for mt in $parent.entity.mts"></select>

				<div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                      <span class="caret"></span>
                      <span class="sr-only">&nbsp;</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li><a class="pointer" ng-click="addInSearchRePo('Gmt', 'in');">是</a></li>
                      <li><a class="pointer" ng-click="addInSearchRePo('Gmt', 'notIn');">不是</a></li>
                    </ul>
                  </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">活動</label>
	    <div class="col-sm-10">
	    	
	    	<div class="input-group">					
					<select ng-model="goods.Gactivity" name="activity" class="form-control" ng-options="activity.name for activity in $parent.entity.activitys"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gactivity', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gactivity', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">供貨商</label>
	    <div class="col-sm-10">
	    	
	    	<div class="input-group">					
					<select ng-model="goods.Gsupplier" name="suppliers" class="form-control" ng-options="supplier.name for supplier in $parent.entity.suppliers"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gsupplier', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gsupplier', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>			

	  <div class="form-group">
	    <label class="col-sm-2 control-label">商店</label>
	    <div class="col-sm-10">
	    	
	    	<div class="input-group">					
					<select ng-model="goods.Gstore" name="store" class="form-control data-repo" ng-options="store.name for store in $parent.entity.stores"></select>

					<div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="caret"></span>
              <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="addInSearchRePo('Gstore', 'in');">是</a></li>
              <li><a class="pointer" ng-click="addInSearchRePo('Gstore', 'notIn');">不是</a></li>
            </ul>
          </div>
	    	</div>
	    </div>
	  </div>			

	  <hr />

		<div class="form-group">
			<label class="col-sm-2 control-label">排序條件</label>
			
			<div class="col-sm-5">
				<select name="orderAttr" class="form-control" ng-model="orderBy" ng-options="orderBy.name for orderBy in orderBys"></select>
			</div>

			<div class="col-sm-5">
				<div class="btn-group">
    	           <label class="btn btn-default" ng-model="orderDir" btn-radio="'ASC'" uncheckable>A>Z</label>
    	           <label class="btn btn-default" ng-model="orderDir" btn-radio="'DESC'" uncheckable>Z>A</label>
    	    	</div>
			</div>
		</div>
  </form>
</div>
{% endverbatim %}