<div class="panel-heading">
  <h2 class="panel-title pointer" ng-click="isSearchPanelVisible=!isSearchPanelVisible;" ng-class="{dropup: !isSearchPanelVisible}"><span class="caret"></span>&nbsp; 搜尋結果</h2>
</div>

<div class="panel-body" ng-show="isSearchPanelVisible">

	<msg-footer success="$parent.successMsg" error="$parent.errorMsg" on-empty="$parent.emptyMsg();"></msg-footer>

	<div class="row">
		<button ng-show="searchRepo.length > 0;" ng-click="checkAll(); checkStatus = !checkStatus" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>

	<div class="row">
		<h4><span style="label label-succuess">{% verbatim %}共{{ totalItems }}件符合結果{% endverbatim %}</span></h4>
	</div>

	<div class="row" ng-repeat="goods in searchRepo">
		<goods-list-title goods="goods" allow="true" set-lazy-img="setLazyImg(goods);"></goods-list-title><hr/>

		<div ng-show="goods.isDisplay && goods.isDelete;" class="alert alert-danger" role="alert">已經刪除</div>
		
		<form ng-show="goods.isDisplay && !goods.isDelete;" novalidate class="form-horizontal" role="form">
			{% include 'WoojinGoodsBundle:GoodsPassport/partials/form:_goods.html.twig' %}

			<my-form-save model="goods" on-click="$parent.update($index, searchRepo);" on-delete="$parent.delete(goods);" on-move="$parent.move(goods);" load-orders="$parent.open(goods);"></my-form-save>	
		</form>
	</div>
	
	<div class="row" ng-show="totalItems>0;">
		<form novalidate class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">每頁顯示筆數</label>
				
				<div class="col-sm-9">
					<select ng-model="perPage" name="per-page" class="form-control" ng-change="currentPage=1; query();">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>

				<div class="col-sm-1">
					<button class="btn btn-info" type="button" ng-click="export();">匯出</button>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">操作</label>

				<div class="col-sm-9">
					<select ng-model="actType" class="form-control">
						<option value="">請選擇</option>
						<option value="onSaleChecked">上架</option>
						<option value="offSaleChecked">下架</option>
						<option value="deleteChecked">刪除</option>
						<option value="punchOutChecked">刷出</option>
						<option value="punchInChecked">刷入</option>
					</select>
				</div>

				<div class="col-sm-1">
					<button ng-click="doAct();" class="btn btn-primary">確定</button>
				</div>
			</div>

			<div ng-show="actType == 'punchInChecked' || actType == 'punchOutChecked'" class="form-group">
				<label class="col-sm-2 control-label">欲刷入之活動</label>

				<div class="col-sm-10">
					<select ng-model="punchActivity" ng-options="activity.id as activity.name for activity in entity.activitys" class="form-control"></select>					
				</div>
			</div>
		</form>
	</div>

	<hr>

	<pagination ng-show="totalItems>0;" max-size="10" rotate="false" boundary-links="true" items-per-page="perPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
