{% verbatim %}
<div ng-controller="PasswordCtrl">
    <div ng-show="successMsg || errorMsg;" class="msgFix">
        <div ng-if="successMsg;" class="alert alert-success no-margin" role="alert">{{ successMsg }}</div>
        <div ng-if="errorMsg;" class="alert alert-danger no-margin" role="alert">{{ errorMsg }}</div>
    </div>

    <form action="{{ path('password_edit', {id: user.id, csrf: user.csrf}) }}" role="form" method="post" >
        <div class="form-group">
            <label for="username">請輸入密碼</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="請輸入帳號" />
        </div>
        <div class="form-group">
            <label for="password">確認密碼</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="確認密碼" />

            <input type="hidden" name="csrf" value="{{ user.csrf }}">
        </div>

        <div class="form-group">
            <button class="btn btn-primary pull-right">確認</button>
        </div>
    </form>
</div>
{% endverbatim %}