<div class="row">
	<tabset type="pills">
		<tab heading="查詢">{% include "WoojinGoodsBundle:GoodsPassport/partials:_search.html.twig" %}</tab>
	  <tab heading="新增">{% include 'WoojinGoodsBundle:GoodsPassport/partials:_add.html.twig' %}</tab>
	  <!-- <tab select="goSell();">
	  	<tab-heading>
	  		<i class="glyphicon glyphicon-circle-arrow-right"></i> 前往銷貨
	  	</tab-heading>
	  </tab> -->
	</tabset>
</div>

