<div class="row">
	<tabset type="pills">
		<tab heading="查詢">{% include "WoojinGoodsBundle:GoodsPassport/partials:_search.html.twig" %}</tab>
	  <tab heading="新增">{% include 'WoojinGoodsBundle:GoodsPassport/partials:_add.html.twig' %}</tab>
	</tabset>
</div>

