<div class="row">
  <div class="col-xs-11">

    <ul class="list-unstyled">
      <li class="pull-right">
      	<a my-scroll-top class="pointer">Back to top</a>
      </li>
    </ul>
    <p>Made by <a href="#" rel="nofollow">Jocoonopa</a>. Contact him at <a href="mailto:jocoonopa@gmail.com">jocoonopa@gmail.com</a>.</p>
    <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
    <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

  </div>
</div>
